body {
  background-image: url('assets/Brady\ Brady\ Fun\ Fun.jpg');
  background-position: center;
  background-size: cover;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}